<li>
  <%= gravatar_for user, size: Settings.gravatar.user_size %>
  <%= link_to user.name, user %>
  <% if can_delete? user %>
    | <%= link_to t("users.delete"), user, data: { "turbo-method": :delete,
                                          turbo_confirm: t("users.destroy.confirm") } %>
  <% end %>
</li>
