<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("layouts.about"), about_path %></li>
      <li><%= link_to t("layouts.contact"), contact_path %></li>
      <li><%= link_to t("layouts.news"), Settings.servers.news %></li>
    </ul>
  </nav>
</footer>
